{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Admin Dashboard</h1>

    <h2>Liste des utilisateurs :</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Liste des posts :</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.articleName }}</td>
                    <td>{{ article.usr.userusername }}</td>
                    <td>{{ article.articlecreationdate|date('Y-m-d H:i') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
